.messages .success {
	background-color: rgba(0, 255, 0, 0.1);
}
.messages .err {
	background-color: rgba(255, 0, 0, 0.1);
}

.form-control {
	padding: 1%;
}

div .field-errors {
	color: red;
}

.form-container {
	padding: 5%;
	background-color: skyblue;
	width: 40%;
	border-radius: 20px;
}
