{% extends 'index.html' %}

{% block title %}Currency Converter{% endblock %}
{% block content %}
<h1 class="title">Convert your money!</h1>
<div class="form-container">
<form method="POST" id="conversion_form">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-control">
    {% for error in field.errors %}
    <div class="field-errors ">
      <span class="text-danger">{{ error }}</span>
    </div>
    {% endfor %}
    <div>
    <label>{{ field.label.text}}</label>
      {{ field(placeholder=field.label.text, class="input") }}
    </div>
  </div>
  {% endfor %}

  <button class="btn btn-primary btn-block btn-lg">Convert</button>
</form>
</div>
<ul name = "currency_types">
    {% for currency in currencies.items() %}
    <div class ="currency">{{currency}}</div>
    {% endfor %}
</ul>


{% endblock %}